<form action="" method="get">
  <p><input type="text" name="search" placeholder="introduzca texto" value="<%= search %>" /> <input type="submit" value="Buscar" /></p>
</form>
<table>
<% 
  var i, temaActual;
  temaActual= '';
  for (i= 0; i < quizes.length; ++i) {
    if (quizes[i].tema != temaActual) {
      temaActual= quizes[i].tema;
%>
<tr><td class="tema"><%= temaActual %></td></tr>
<%
    }
%>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>/edit" class="boton">editar</a></td>
    <td><form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
      <p><input type="submit" value="borrar" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>')" /></p>
    </form></td></tr>
<% } %>
</table>
<a href="/quizes/new" class="boton">Crear pregunta</a>